

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,body
{

    overflow-x: hidden;
}

.projectTitle{
  text-transform: uppercase;
  margin-top: 2rem;
  font-weight: 700;
}


 a {
  color: #fff;
}



.skills {
margin-top: 100px;

}

.information {

  margin: 200px;
  text-align: center;
}


.mail{
  margin-top: 20px
}


.container {
  background-color: #f2f2f2;
}

/* NAVBAR */

  nav .navbar-brand  {
    margin-right: 25%;
  padding: 2px;
 
  font-size: 2rem;
  font-weight: bolder;
  letter-spacing: 3px;
  text-transform: uppercase; 
  border: 5px solid 37474f;
  background-color: #16731f;
  border-radius: 10px;;


}

.nav-item {
  padding-right: 75px;
  font-size: 20px;


}

.nav-item:hover, a:hover {
  opacity: 0.7;

}





#navimg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.otherPhoto {
  width: 100%;
  height: 100%;
  border-radius: 7%;


}



.resumeimg {
  max-width: 100%;
  height: auto;
  

}








/* Style the video: 100% width and height to cover the entire window */
/*#myVideo {
 position: relative;
  right: 0;
  bottom: 0;
  left: 50%;
  min-width: 100%;
  transform: translate( -50%);
  border-bottom: 10px solid #006600;
  display: block;

} */

.half-screen {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.half-screen video {
  position: absolute;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
}




.overlay {
  background: rgba(0,0,0,0);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}



.overText {
  font-size: 60px;
}

p {
  padding-top: 10px;

}

.p3{
  font-size: 25px;
  font-weight: 400;
  margin-top: -70px;
  margin-bottom: 70px;

}



.row {
  margin-top: 80px;
}







.jumbotron {
  text-align: center;

}

.card-img-top {
  width: 100%;
  height: 100%;


}

.hide {
  display: none !important;
}



#jquery {
  height: 360px;

}

#database {
  height: 360px;
}

.lead {
  padding-left: 300px;
  padding-right: 300px;
}

.btn {
  background-color: #e6ffee;

}

.info {
  padding-right: 150px;
  padding-left: 150px;
  line-height: 2.5;
  margin-bottom: 3em;

}

.display-4{
  margin-bottom: 2em;
}

.pa {
  margin-top: -90px;
}

.card{
  margin-bottom: 50px;
}






.cardTwo {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;

}

.title {
  color: grey;
  font-size: 18px;
}

.buttonTwo {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

button:hover, a:hover {
  opacity: 0.7;
}




.videoNotMine{
  padding: 1px;
  margin: 1px;
  font-size: 10px;
  color: white;
  position: absolute;
  bottom: 1px;
  left: 1px;
  z-index: 5;

}











footer {
  text-align: center;
  margin-top: 50px;
  display: inline-block;
  margin-bottom: 50px;
  background-color: #004d00;
  padding: 100px;
  color: white;


}
.fa {
  margin-left: 20px;
  background-color: white;
}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-top: 16px;
  color: #fff;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}  

.fa-linkedin {
  background-color: #4d93bf;
}

.fa-github {
  background-color: #586770;
}













/* MEDIA QUERIES */

@media (max-width: 900px) {

  nav .navbar-brand  {
    margin-right: 25%;
  padding: 2px;
 
  font-size: 1rem;
  font-weight: bolder;
  letter-spacing: 4px;
  text-transform: uppercase;
  border: 5px solid #8fffb8;
  background-color: #16731f;
  border-radius: 10px;;


}


/* VIDEO */

.half-screen video {
  display: none
}

.half-screen {
  background: url('../images/moving.gif');
  background-size: cover;

}

.overlay {
  padding-left: 10%;
}

.wrap {
    flex-direction: column-reverse;
  }
  .one,
  .two {
    width: auto;
  }

  .one,
  .two {
    min-width: 100%;
    width: 100%;

  }

  .info {
    padding-left: 1px;
    padding-right: 1px;
  }


  .videoNotMine{
    padding: 1px;
    margin: 1px;
    font-size: 10px;
    display: none;
  }

}






.resize {
  height: 500px;
}




@media (max-width: 500px){
.information{
  padding-top: 25%;
  margin: auto;
  width: 50%;
}


}
